*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    max-width:100%;
    /* border:1px solid grey; */
}
html{
    font-size:62.5%;
}
h1{
    font-family: 'RocknRoll One', sans-serif;
    font-size: 5rem;
    padding-top: 50px;
    text-shadow: 2px 2px gray;
}
nav{
    width:100%;
    font-size: 2.2rem;
    /* padding: 0 15px; */
    display: flex;
    
    align-items: flex-end;
/* background-color: white; */
/* height: 13vh; */
}
nav .links{
    display: flex;
    justify-content: space-evenly;

}
header{
    background-color: #222831;
    /* height: 20vh; */

}
.links a{
    font-family: 'Quicksand', sans-serif;
    color: white;
    background-color:#393e46;
    padding: 20px;
}
a:link {
    text-decoration: none;
  }
a:hover{
background-color: lightgray;
color: black;
}
